header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1vw;
  width: 100%;
  background-color: brown;
}

.hero-nav {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  gap: 50px;
  width: 50vh;
  font-size: 2vw;
}

.hero-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 99.8%;
  border: white dotted 1px;
}